/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

/* Bootstrap default font-family is Helvetica Neue */
h1 {
  font-family: Arial;

}

h3 {
  font-family: Arial;
  color: black;
}

.container-md {
  font-family: Arial;
  color: black;
}

/*https://www.w3schools.com/howto/howto_css_image_center.asp*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
}

.container-fluid{
  background-color: #D0C0BD;
}

.ti {
  text-align: center;
}

.container-md {
  background-color: #D0C0BD;
}

.table {
  background-color: #B1AEC3;
}

.btn {
  background-color: #B1AEC3;
}

.btn-light {
  background-color: #D0C0BD;
  text-align: center;
}

.button:hover {
  color: #D0C0BD;
}

.card {
  background-color: #D0C0BD;
}

.card-link {
  color: black;
}

.card-header {
  background-color: #B1AEC3;
}

.modal-header {
  background-color: #B1AEC3;
}

.modal-body {
  background-color: #D0C0BD;
}

.modal-footer {
  background-color: #B1AEC3;
}

#signature {
  text-align: center;
  color: black;
  font-style: italic;
  font-size: 75%;
}
